<div id="cookies-bar" class="cookies-bar">
  <p>
    We are using cookies to give you the best experience on our site. By continuing to use our site, you are agreeing to our use of cookies.
  </p>

  <%= link_to 'Accept', request.original_url, class: 'btn accept' %>
  <%= link_to 'Reject', request.original_url, class: 'btn reject' %>
</div>